@{
    ViewData["Title"] = "Vendas";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary active">Nova venda</a>
</p>


<div class="row">
    <div class="col-md-6">

        <fieldset>
            <legend>Pesquisa de vendas</legend>
        </fieldset>

    </div>
</div>



<nav class="navbar navbar-inverse">

    <div class="container-fluid">
        <form class="navbar-form navbar-left" role="search" asp-action="SimpleSearch">
            <div class="form-group">
                <div class="form-group">
                    <label for="minDate">Data inicial</label>
                    <input type="date" name="minDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="maxDate">Data final</label>
                    <input type="date" name="maxDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="">Estado</label>
                    <label for="Status" class="control-label"></label>
                    <select for="returnedStatus" name="returnedStatus" asp-items="Html.GetEnumSelectList<VendasWebMvc.Models.Enums.SaleStatus>()" class="form-control"></select>
                </div>
            </div>


            <button type="submit" class="btn btn-primary">Submeter</button>


        </form>
    </div>

</nav>


<div class="row">
    <div class="col-md-6">

        <fieldset>
            <legend>Pesquisa de grupo: Departmentos</legend>
        </fieldset>

    </div>
</div>



<nav class="navbar navbar-inverse">

    <div class="container-fluid">
        <form class="navbar-form navbar-left" role="search" asp-action="GroupingSearch">
            <div class="form-group">
                <div class="form-group">
                    <label for="minDate">Data inicial</label>
                    <input type="date" name="minDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="maxDate">Data final</label>
                    <input type="date" name="maxDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="">Estado</label>
                    <label for="Status" class="control-label"></label>
                    <select for="returnedStatus" name="returnedStatus" asp-items="Html.GetEnumSelectList<VendasWebMvc.Models.Enums.SaleStatus>()" class="form-control"></select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submeter</button>

        </form>
    </div>

</nav>


<div class="row">
    <div class="col-md-6">

        <fieldset>
            <legend>Pesquisa de grupo: Vendedores</legend>
        </fieldset>

    </div>
</div>



<nav class="navbar navbar-inverse">

    <div class="container-fluid">
        <form class="navbar-form navbar-left" role="search" asp-action="Grouping1Search">
            <div class="form-group">
                <div class="form-group">
                    <label for="minDate">Data inicial</label>
                    <input type="date" name="minDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="maxDate">Data final</label>
                    <input type="date" name="maxDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="">Estado</label>
                    <label for="Status" class="control-label"></label>
                    <select for="returnedStatus" name="returnedStatus" asp-items="Html.GetEnumSelectList<VendasWebMvc.Models.Enums.SaleStatus>()" class="form-control"></select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submeter</button>

        </form>
    </div>

</nav>




