@model VendasWebMvc.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">@Model.Message</h2>  /* Substituido por Model.Message que é o atributo criado da classe ErrorViewModel */

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

