@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Francisco Paulo<br />
    Caranguejeira<br />
    Leiria<br />
    <abbr title="Phone">Telemovel:</abbr>
    919088569
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:xicopaulo@outlook.pt">xicopaulo@outlook.ptm</a><br />
    
</address>
