@{
    ViewData["Title"] = "Página inicial";
}

<h2> @ViewData["Title"]</h2>
<div>
    <div class=" row">
        <div class=" col-md-1">
            <tbody>
                <tr>
                </tr>
            </tbody>

        </div>
    </div>
</div>



